@use "../../sass/abstract/index" as *;

.delete {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;

  &:hover,
  &:active,
  &:focus-visible {
    span {
      color: color(pale-red);
      transition: all 0.15s ease-in;
    }

    .image {
      fill: color(pale-red);
      transition: all 0.15s ease-in;
    }
  }

  span {
    color: color(soft-Red);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
  }
}
