@use "../sass/abstract/index" as *;

html,
body {
  // padding: 4rem 1rem;
  margin: 0;
  font-family: "Rubik", Arial, Verdana, sans-serif;
  background: color(very-light-gray);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

body {
  padding: 2rem;

  @media (max-width: 420px) {
    padding: 1rem;
  }
}

div,
h1,
h2,
h3,
h4,
p,
button,
span {
  font-family: "Rubik", Arial, Verdana, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v19-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v19-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"),
    url("../fonts/rubik-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/rubik-v19-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
